.header {
    background-color: rgb(238, 77, 45);
    height: 12vh;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 120px;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left-logo {
    width: 19%;
    height: 100%;
}

.header__left-logo-img {
    width: 100%;
}

.header__left-text {
    font-size: 30px;
    color: #fff;
    opacity: 0.9;
    padding-top: 12px;
    font-weight: 400;
}

.header__right-link-help {
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
}

.login-content {
    height: 88vh;
    background-color: rgb(238, 77, 45);
    flex-direction: column;
    align-items: center;
    display: flex;
}

.content-container {
    width: 1200px;
    height: 100%;
    padding-bottom: 20px;
}

.content-wrapper {
    display: flex;
    background: url('/assets/img/user/login.png') center / contain no-repeat;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    margin: auto;
}

.content__form {
    border-radius: 2px;
    margin-right: 130px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 60%);
}

.content__form-wrapper {
    min-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px 30px;
}

.content__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    position: relative;
}

.content__form-group span {
    font-size: 13px;
    color: red;
    position: absolute;
    bottom: -24px;
    padding-left: 4px;
}

.content__form-title-wrapper {
    padding: 0px 10px 15px 10px;
    margin-top: -8px;
}

.content__form-title {
    text-align: center;
    color: #222;
    padding: 15px 0;
    font-weight: 400;
    font-size: 22px;
}

.form-login__input {
    height: 46px;
    padding-left: 5px;
    outline: none;
    border: 1px solid #e3e1de;
    border-radius: 3px;
}

.form-login__btn-submit {
    width: 100%;
    height: 100%;
    margin: 5px 0 0 0;
    padding: 10px 10px;
    border: 1px solid;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(238, 77, 45);
    color: #fff;
    transition: all 0.3s linear;
    text-decoration: none;
}

.content__form-password-retrieval {
    padding: 28px 0 0px 5px;
}

.password-retrieval__link {
    text-decoration: none;
    color: #05a;
}

.content__form-login-more {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0;
    font-size: 12px;
    padding: 10px 0;

}

.content__form-login-more a {
    width: 100px;
    padding: 8px 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .87);
    border-radius: 2px;
    color: #05a;
    cursor: pointer;
    font-size: 14px;
}

.form-login__btn-submit:hover {
    background-color: #fff;
    color: red;
    transition: all 0.3s linear;
}

.password-retrieval__link:hover,
.content__form-link-register:hover {
    transition: all 0.3s linear;
    color: rgb(238, 77, 45);
}

.content__form-login-more a:hover {
    background-color: rgb(238, 77, 45);
    border: none;
    color: #fff;
    transition: all 0.3s linear;
}

.content__form-link-register {
    text-decoration: none;
    color: #05a;
    cursor: pointer;
    text-align: left;
    padding: 20px 0px 10px 10px;
    font-size: 15px;
}

.content__form-span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

}

.content__form-space {
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 1px;
}

.content__form-span-text {
    color: #ccc;
    padding: 0 15px;
}

.border-error {
    border: 1px solid red;
    border-left: 2px solid red;

}

.border-success {
    border: 1px solid #71be34;
    border-left: 3px solid #71be34;
}

.hide-message {
    visibility: hidden;
}