#banner {
    width: 100%;
    min-height: 60px;
}

.banner__content {
    display: grid;
    grid-template-areas: 'lt lt lt lt lt lt lt lt rtu rtu rtu rtu ' 'lt lt lt lt lt lt lt lt rtd rtd rtd rtd ';
    width: 100%;
    min-height: 235px;
    max-height: 235px;
    grid-gap: 5px;
}

.banner__content-left {
    grid-area: lt;
    width: 100%;
}

.banner__slider {
    height: 100%;
    width: 100%;
}

.banner__slider-img {
    width: 100%;
    height: 100%;
    background: url("/assets/img/slider/banner/b109d9f8f6e4d8c065156090e79b4ea1_xxhdpi.png") center / cover no-repeat;
}

.banner__content-right-up {
    grid-area: rtu;
    width: 100%;
    height: 115px;
    background: url("/assets/img/slider/banner/4f796b10b9524a3f75d8599a2e63bb7d_xhdpi.png") center / cover no-repeat;
}

.banner__content-right-down {
    grid-area: rtd;
    width: 100%;
    height: 115px;
    background: url('/assets/img/slider/banner/0ffa7030b1b3a933a6a3340465d4f2f6_xhdpi.png') center / cover no-repeat;
}

.banner__slider-img,
.banner__content-right-down,
.banner__content-right-up {
    border-radius: 2px;
}

.banner__slider-img:hover,
.banner__content-right-down:hover,
.banner__content-right-up:hover {
    cursor: pointer;
    opacity: 0.9;
}

.slider__navbar {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.slider__navbar-items {
    text-decoration: none;
}

.slider__navbar-items:hover {
    transform: translateY(-0.0625rem);
    opacity: 0.9;
}

div[class*="slider__navbar-img"] {
    min-height: 45px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.slider__navbar-img1 {
    background: url('/assets/img/slider/navbar/1.png');
}

.slider__navbar-img2 {
    background: url('/assets/img/slider/navbar/2.png');
}

.slider__navbar-img3 {
    background: url('/assets/img/slider/navbar/3.png');
}

.slider__navbar-img4 {
    background: url('/assets/img/slider/navbar/4.png');
}

.slider__navbar-img5 {
    background: url('/assets/img/slider/navbar/5.png');
}

.slider__navbar-img6 {
    background: url('/assets/img/slider/navbar/6.png');
}

.slider__navbar-img7 {
    background: url('/assets/img/slider/navbar/7.png');
}

.slider__navbar-img8 {
    background: url('/assets/img/slider/navbar/8.png');
}

.slider__navbar-description {
    text-align: center;
    font-size: 13px;
    color: var(--text-color);
    width: 140px;
}