.banner {
    width: 100%;
    min-height: 60px;
}

.banner-content {
    display: flex;
    width: 100%;
    min-height: 220px;
}

.banner-content__left {
    cursor: pointer;
    padding-right: 5px;
    width: 65%;
}

.banner-content__left:hover {
    opacity: 0.9;
}

.banner-content__right {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider {
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.slider-turn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
}

.slider-turn__left {
    display: none;
    opacity: 0.6;
    color: var(--white-color);
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.slider-turn__right {
    display: none;
    opacity: 0.6;
    color: var(--white-color);
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.space {
    flex: 1;
}

.slider-nav {
    display: flex;
    position: absolute;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

.slider-nav__items {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--white-color);
    opacity: 0.6;
    margin: 5px 15px;
}

.slider-nav__items:hover,
.slider-turn__left:hover,
.slider-turn__right:hover {
    opacity: 1;
}

.slider-nav__items--active {
    opacity: 1;
}

.slider-main {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.slider:hover .slider-turn__left,
.slider:hover .slider-turn__right {
    display: block;
    cursor: pointer;
}

.slider-main__items-img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.banner-content__right-up {
    width: 100%;
    height: 49%;
    background: url("/assets/img/slider/banner/4f796b10b9524a3f75d8599a2e63bb7d_xhdpi.png") center / cover no-repeat;
}

.banner-content__right-down {
    width: 100%;
    height: 49%;
    background: url('/assets/img/slider/banner/b109d9f8f6e4d8c065156090e79b4ea1_xxhdpi.png') center / cover no-repeat;
}

.banner-slider__img,
.banner-content__right-down,
.banner-content__right-up {
    border-radius: 2px;
}

.banner-slider__img:hover,
.banner-content__right-down:hover,
.banner-content__right-up:hover {
    cursor: pointer;
    opacity: 0.9;
}

.slider-navbar {
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
}

.slider-navbar__items {
    display: flex;
    text-decoration: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.slider-navbar__items:hover {
    transform: translateY(-1px);
    opacity: 0.9;
}

div[class*="slider-navbar__img"] {
    min-height: 45px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.slider-navbar__img1 {
    background: url('/assets/img/slider/navbar/1.png');
}

.slider-navbar__img2 {
    background: url('/assets/img/slider/navbar/2.png');
}

.slider-navbar__img3 {
    background: url('/assets/img/slider/navbar/3.png');
}

.slider-navbar__img4 {
    background: url('/assets/img/slider/navbar/4.png');
}

.slider-navbar__img5 {
    background: url('/assets/img/slider/navbar/5.png');
}

.slider-navbar__img6 {
    background: url('/assets/img/slider/navbar/6.png');
}

.slider-navbar__img7 {
    background: url('/assets/img/slider/navbar/7.png');
}

.slider-navbar__img8 {
    background: url('/assets/img/slider/navbar/8.png');
}

.slider-navbar__description {
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    color: var(--text-color);
    max-width: 138px;
    word-wrap: break-word;
}