.category {
    background-color: var(--white-color-f5);
    padding: 10px 0;
}

.container__category {
    display: flex;
    min-height: 320px;
    background-color: var(--white-color);
    flex-direction: column;
}

.category__title {
    font-size: 16px;
    font-weight: 500;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    text-transform: uppercase;
}

.category__list-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 116px);
    grid-template-rows: 150px 150px;
    cursor: pointer;
    justify-content: center;
}

.category__list-group-items {
    display: block;
}

.category__items {
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    border: 1px solid var(--white-color-f5);
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}

.category__items:hover {
    transform: translateZ(0);
    z-index: 1;
    border-color: var( --border-color-black);
    box-shadow: 0 0 0.8125rem 0 var(--box-shadow-color);
}

.category__items-img {
    width: 80%;
    height: 100px;
    padding: 10px;
    object-fit: cover;
    text-align: center;
}

.category__items-description {
    display: block;
    height: 45px;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
}