.flashSale {
    min-height: 60px;
    background-color: var(--white-color-f8);
    padding: 20px;
}

.container__flashSale {
    display: flex;
    min-height: 350px;
    background-color: var(--white-color);
    flex-direction: column;
    justify-content: space-evenly;
}

.flashSale-header {
    display: flex;
    height: 61px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 2px solid var(--white-color-f8);
    ;
}

.flashSale-header__left {
    padding: 15px;
    display: flex;
    height: 30px;
    flex-direction: row;
    align-items: center;
}

.flashSale-header__title {
    padding: 0 0 0 15px;
    width: 130px;
    height: 30px;
}

.flashSale-header__title-img {
    width: 100%;
    height: 100%;
    background: url('/assets/img/flashsale/flashsale.png') center / contain no-repeat;
}

.flashSale-header__time {
    padding: 0 20px;
}

.flashSale-header__time-list-items {
    display: flex;
    font-size: 14px;
    color: var(--white-color);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.flashSale-header__time-items {
    width: 30px;
    line-height: 22px;
    height: 28px;
    border: 4px solid;
    border-radius: 6px;
    text-align: center;
    font-weight: 900;
    background-color: var(--text-color);
}

.flashSale-header__right {
    padding-right: 25px;
    line-height: 25px;
    height: 30px;
}

.flashSale-header__show {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.flashSale-header__show {
    opacity: 0.9;
}

.flashSale-header__show-text {
    color: var(--red2-color);
}

.flashSale-header__show-span {
    font-size: 12px;
    padding-left: 10px;
    color: var(--red2-color);
}

.flashSale-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
}

.flashSale-body__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-around;
}

.flashSale-body__items {
    position: relative;
    min-width: 186px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    text-decoration: none;
}

.flashSale-body__items:hover {
    transform: translateY(-2px);
}

.flashSale-cart__items1 {
    width: 173px;
    height: 173px;
    position: relative;
}

.flashSale-cart__bground {
    top: 0;
    right: 0;
    z-index: 1;
    bottom: 0;
    width: 172px;
    height: 172px;
    position: absolute;
    background: url('/assets/img/flashsale/bgsale.png') center / cover no-repeat;
}

.flashSale-cart__bground-items {
    background-color: var(--red2-color);
    top: 0;
    right: 0;
    z-index: 0;
    bottom: 0;
    width: 172px;
    height: 172px;
    position: absolute;
}

.flashSale-cart__items1-img {
    position: absolute;
    width: 85%;
    height: 85%;
    object-fit: cover;
    top: 12px;
    left: 12px;
}

.flashSale-cart__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.flashSale-cart__price-number {
    color: var(--red2-color);
    font-size: 18px;
    letter-spacing: 1.1px;
    padding: 8px 0;
}

.flashSale-cart__price-percent {
    text-align: center;
    color: var(--white-color);
    font-size: 12px;
    line-height: 20px;
    width: 150px;
    height: 20px;
    background: url('/assets/img/flashsale/bgprice.png') center / contain no-repeat;
}

.flashSale__ratiosale {
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 0;
    font-size: 12px;
    right: 0;
    width: 44px;
    height: 40px;
    /* padding: 22px 8px; */
    background-color: var(--yellow-color);
}

.flashSale__ratiosale::after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    bottom: -4px;
    position: absolute;
    border-color: transparent var(--yellow-color);
    border-style: solid;
    border-width: 0px 22px 4px;
}

.flashSale__ratiosale-number {
    padding-top: 5px;
    color: var(--red2-color);
}

.flashSale__ratiosale-text {
    text-transform: uppercase;
    color: var(--white-color);
}