.header {
    margin-bottom: 20px;
    height: var(--height-header);
    background: var(--background-header);
}


/* nav bar */

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height-header-navbar);
}

.header-navbar__left {
    display: flex;
}


/* QR code */

.navbar-drawer {
    width: 184px;
    position: absolute;
    display: none;
    z-index: 4;
}

.navbar-drawer::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 20px;
    width: 100%;
}

.navbar-drawer__contents {
    display: flex;
    top: 0;
    box-shadow: 0 1px 4px 0 var(--box-shadow-color);
    left: 0;
    flex-direction: column;
    position: absolute;
    border-radius: 2px;
    background-color: var(--white-color);
    margin-top: 10px;
}

.navbar-drawer__img-qrcode {
    width: 100%;
    padding: 2px;
}

.navbar-drawer__store {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 5px;
}

.navbar-drawer__store-items {
    width: 70px;
    padding: 2px 0;
}

.navbar-drawer__store-img {
    width: 100%;
}

.header-navbar__right {
    display: flex;
    list-style-type: none;
}

.header-navbar__items {
    padding: 0 8px;
    margin-top: 2px;
    font-size: 13px;
    color: var(--white-color);
    text-decoration: none;
    cursor: pointer;
}

.header-navbar__items:hover .navbar-drawer {
    display: block;
}

.notifications-target {
    position: relative;
}

.navbar-items__nopointer {
    pointer-events: none;
}

.navbar__separate {
    border-right: 2px solid var(--border-color-grey);
}

.navbar-items__link {
    padding: 0 2px;
}

.navbar-group {
    display: flex;
    position: relative;
    padding: 0 3px;
}

.navbar-items__icon {
    font-size: 14px;
    color: var(--white-color);
    text-decoration: none;
    position: relative;
}

.navbar-group:hover .navbar-items__icon,
.navbar-group:hover .header-navbar__items,
.header-navbar__items:hover {
    color: var(--hover-color);
}

.navbar-group:hover .navbar__change-language,
.navbar-group:hover .navbar-notifications {
    display: flex;
}


/* notification */

.navbar-notifications {
    position: absolute;
    top: 150%;
    right: 12px;
    display: none;
    flex-direction: column;
    z-index: 3;
    width: 400px;
    background-color: var(--white-color);
    color: var(--text-color);
    font-size: 14px;
    box-shadow: 0 1px 3.125rem 0 var(--box-shadow-color);
    border-radius: 2px;
}

.noti-number {
    position: absolute;
    top: -4px;
    left: 16px;
    color: var(--red2-color);
    text-align: center;
    width: 16px;
    height: 16px;
    line-height: 15px;
    border-radius: 50%;
    background-color: var(--white-color);
    font-size: 10px;
    font-weight: 600;
    z-index: 10;
    align-items: center;
    opacity: 0.9;
    justify-content: center;
    border: 1px solid var(--red2-color);
}

.navbar-notifications::after {
    position: absolute;
    right: 10px;
    top: -20px;
    content: "";
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.navbar-notifications::before {
    position: absolute;
    height: 20px;
    top: -10px;
    content: "";
    width: 100%;
}

.notifications-header {
    padding: 2px 10px;
    height: 40px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 40px;
    color: var(--black2-color);
    background-color: var(--white-color-color);
}

.notifications-body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-noti-color);
}

.notifications-body__items {
    padding: 10px;
    border-bottom: 1px dashed var(--white-color-cc);
    color: var(--black2-color)
}

.notifications-body__items:hover {
    background-color: var(--white-color-f8);
    cursor: pointer;
}

.notifications-contents {
    display: flex;
    width: 100%;
    padding: 5px 0;
    min-height: 40px;
}

.notifications-contents__left {
    padding-right: 5px;
}

.notifications-contents__img {
    width: 40px;
    height: 40px;
}

.notifications-contents__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navbar__item-avatar-img {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.notifications-contents__title {
    font-size: 14px;
    font-weight: 450;
    padding-bottom: 5px;
    color: var(--black2-color);
}

.notifications-contents__descriptions {
    font-size: 12px;
    color: var(--black2-color);
}

.notifications-footer {
    text-align: center;
    color: var(--black2-color);
    background-color: var(--white-color);
    padding: 15px 0;
}

.notifications-footer:hover {
    background-color: var(--red2-color);
    color: var(--white-color);
    cursor: pointer;
}


/* language */

.navbar__change-language {
    position: absolute;
    flex-direction: column;
    top: 160%;
    z-index: 3;
    right: 12px;
    display: none;
    border-radius: 2px;
    color: var(--text-color);
    width: 180px;
    padding: 5px;
    justify-content: space-evenly;
    background-color: var(--white-color);
    height: 70px;
    border: 1px solid var(--border-color-black);
    box-shadow: 0 1px 3.125rem 0 var(--box-shadow-color);
}

.navbar__change-language::before {
    position: absolute;
    right: 25px;
    top: -20px;
    content: "";
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.language-vietnam,
.language-english {
    font-size: 14px;
    padding: 10px 10px;
    text-decoration: none;
}

.language-vietnam:hover,
.language-english:hover {
    color: var(--red-color);
    cursor: pointer;
}


/* profile */

.header-navbar__profile {
    right: 0;
    background-color: var(--white-color);
    width: 150px;
    display: none;
    top: 130%;
    list-style: none;
    z-index: 4;
    position: absolute;
    flex-direction: column;
    border: 1px solid var(--border-color-black);
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 var(--box-shadow-color);
}

.header-navbar__profile--items {
    height: 40px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    padding-left: 15px;
    font-weight: 400;
    line-height: 40px;
}

.header-navbar__profile--items:hover {
    background-color: var(--white-color-f5);
    color: var(--red-color);
}

.header-navbar__profile::before {
    position: absolute;
    right: 25px;
    top: -20px;
    content: "";
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.navbar-group:hover .header-navbar__profile {
    display: flex;
}

.header-navbar__profile::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -15px;
}

.navbar-space {
    flex: 1;
}


/* header with search */

.header-with-search {
    height: var( --height-header-with-search);
    display: flex;
    padding: 15px 0 5px;
}


/* menu */

.header__menu {
    display: block;
    color: var(--white-color);
}


/* logo */

.header-with-search__logo-wrapper {
    display: flex;
    align-items: center;
}

.header-with-search__logo {
    display: inline-block;
    padding-right: 40px;
    padding-bottom: 12px;
}

.header-with-search__logo-img {
    width: 162px;
    height: 50px;
}


/* search */

.header-with-search__search-section {
    width: 840px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.search-section__searchbar {
    padding: 3px;
    display: flex;
    background-color: var(--white-color);
    box-shadow: 0 1px 4px 0 var(--box-shadow-color);
    border-radius: 2px;
}

.searchbar-main {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
}

.searchbar-main__input {
    padding: 0px 8px;
    width: 100%;
}

.searchbar-main__input:focus-within::after {
    position: absolute;
    content: "";
    top: -7px;
    right: 2px;
    left: -7px;
    bottom: -7px;
    border-radius: 4px;
    pointer-events: none;
    border: 2px solid var(--black2-color);
}

.searchbar__input {
    width: 100%;
    padding: 2px;
    font-size: 14px;
    outline: none;
    line-height: 34px;
    height: 34px;
    border: none;
}

.searchbar-main__input:focus-within .searchbar-main__history {
    display: block;
}

.searchbar-main__history {
    display: none;
    position: absolute;
    left: 0;
    top: 43px;
    z-index: 2;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
}

.searchbar-main__list-box {
    background-color: var(--white-color);
    padding: 13px 0;
    border: 1px solid var(---white-color-f8);
    margin-left: -4px;
}

.searchbar-main__history-item {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.searchbar-main__list-box:hover {
    background-color: var(--white-color-f5);
}

.main__history-item-name {
    font-size: 14px;
    color: var(--text-color);
}

.main__history-item-img {
    height: 24px;
}


/* search btn  */

.searchbar-btn {
    height: 34px;
    min-width: 60px;
    max-width: 190px;
    background: var(--red2-color);
    border: 0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.searchbar-btn__icon {
    color: var(--white-color);
}

.searchbar-btn:hover {
    opacity: 0.7;
}

.search-section__search-suggest {
    display: flex;
}


/* search suggest  */

.search-suggest__list-items {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.search-suggest__items {
    font-size: 12px;
    text-decoration: none;
    color: var(--white-color-f5);
    padding-right: 10px;
    text-transform: capitalize;
}

.search-suggest__items:hover {
    opacity: 0.7;
}


/* cart */

.header-with-search__cart {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__contents {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-badge-wrapper {
    display: flex;
    text-decoration: none;
    position: relative;
    padding: 10px 20px;
    color: var(--white-color);
}

.cart-badge-wrapper:hover {
    opacity: 0.9;
}

.cart-badge-span {
    transform: scaleX(-1);
    font-size: 30px;
}

.cart-number-badge {
    position: absolute;
    top: 4px;
    right: 8px;
    border: 2px solid;
    background-color: var(--white-color);
    color: var(--red-color);
    min-width: 25px;
    font-size: 14px;
    border-radius: 14px;
    text-align: center;
}

.cart__drawer {
    display: none;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 var(--box-shadow-color);
    width: 352px;
    top: 50px;
    right: 0px;
    border: 1px solid var(--border-color-black);
    z-index: 1000;
}

.cart__drawer::before {
    position: absolute;
    right: 15px;
    top: -20px;
    content: "";
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.cart__contents:hover .cart__drawer {
    display: block;
}

.cart__drawer-wrapper {
    width: 350px;
    display: flex;
    border-radius: 2px;
    background-color: var(--white-color);
    min-height: 164px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
}

.cart__drawer-header {
    padding: 14px;
    font-size: 15px;
    border-bottom: 1px solid var(--white-color-cc);
    color: var(--text-color);
}

.cart__drawer-body {
    flex: 1;
}

.cart__drawer-items {
    padding: 10px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    font-size: 14px;
}

.cart__drawer-items:hover {
    background-color: var(--white-color-f5);
}

.cart__drawer-items-img {
    width: 42px;
    height: 42px;
    border: 1px solid var(--white-color-cc);
}

.cart__drawer-items-content {
    flex: 1;
    padding: 5px 12px;
    color: var(--black2-color);
}

.cart__drawer-items-price {
    color: var(--red-color);
}

.cart__drawer-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
}

.cart__drawer-btn {
    color: var(--white-color);
    font-size: 13px;
    padding: 10px 20px;
    background-color: var(--red-color);
    text-decoration: none;
    border-radius: 2px;
}

.cart__drawer-btn:hover {
    opacity: 0.7;
}

.header-with-search__mbmenu {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.header-with-search__mbmenu:hover .mbmenu-content {
    display: block;
}

.header-with-search__mbmenu-span {
    font-size: 16px;
    background-color: var(--white-color-f5);
    color: var(--red2-color);
    padding: 11px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 1px 4px 0 var(--box-shadow-color);
    border-radius: 3px;
}

.header-with-search__mbmenu-span:hover {
    opacity: 0.8;
    color: var(--white-color-cc);
}

.mbmenu-content {
    display: none;
    position: absolute;
    width: 180px;
    left: -12px;
    min-height: 250px;
    border-radius: 1px;
    box-shadow: 0 1px 4px 0 var(--box-shadow-color);
    background-color: var(--red2-color);
    top: 60px;
    z-index: 1000;
}

.mbmenu-list-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mbmenu-items {
    width: 100%;
    min-width: 100px;
    color: var(--white-color);
    text-decoration: none;
    border-bottom: 1px solid var(--white-color-cc);
}

.mbmenu-items__group {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    min-height: 40px;
    padding-left: 15px;
}

.mbmenu-items:last-child {
    border: none;
}

.mbmenu-items:hover {
    color: var(--red-color);
    background-color: var( --white-color-f5);
}

.mbmenu-items span {
    padding-right: 10px;
}

.mbmenu-items p {
    flex: 1;
    font-size: 15px;
}