.shopeeMall {
    min-height: 60px;
    padding: 10px 0;
    background-color: var(--white-color-f5);
}

.container__shopeeMall {
    display: block;
    background-color: var(--red-color);
}

.shopeeMall-header {
    min-height: 60px;
    display: flex;
    background-color: var(--white-color);
    border-bottom: 2px solid var(--white-color-f8);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.shopeeMall-header__left {
    display: flex;
    padding-left: 20px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.shopeeMall-header__title-logo {
    color: var(--red-color);
}

.shopeeMall-header__title {
    color: var(--red2-color);
}

.shopeeMall-header__title-span {
    color: var(--red2-color);
}

.shopeeMall-header__title-logo,
.shopeeMall-header__title,
.shopeeMall-header__title-span,
.shopeeMall-header__showAll,
.shopeeMall-header__showAll-span {
    padding: 0 10px;
    text-decoration: none;
    font-size: 16px;
}

.shopeeMall-header__right {
    display: block;
}

.shopeeMall-header__showAll {
    color: var(--red-color);
}

.shopeeMall-header__showAll-span {
    font-size: 14px;
    color: var(--red-color);
}

.shopeeMall-content {
    display: flex;
    min-height: 400px;
    background-color: var(--white-color);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.shopeeMall-content__left {
    margin: 0;
    padding: 0;
}

.shopeeMall-content__slider {
    display: block;
    min-width: 100%;
    min-height: 462px;
    background: url('/assets/img/shopeeMall/slider/slider.png') center / cover no-repeat;
}

.shopeeMall-content__right {
    flex: 1 100%;
}

.shopeeMall-content__list-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.shopeeMall-content__items-box {
    display: flex;
    flex-direction: column;
}

.shopeeMall-content__items-box:hover {
    transform: translateY(-2px);
}

.shopeeMall-content__items {
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
}

.shopeeMall-content__items-img1,
.shopeeMall-content__items-img2,
.shopeeMall-content__items-img3,
.shopeeMall-content__items-img4,
.shopeeMall-content__items-img5,
.shopeeMall-content__items-img6,
.shopeeMall-content__items-img7,
.shopeeMall-content__items-img8 {
    width: 100%;
    background-color: var(--white-color);
    height: 100%;
}

.shopeeMall-content__items-img1 {
    background: url('/assets/img/shopeeMall/items/item1.png') center / contain no-repeat;
}

.shopeeMall-content__items-img2 {
    background: url('/assets/img/shopeeMall/items/item2.png') center / contain no-repeat;
}

.shopeeMall-content__items-img3 {
    background: url('/assets/img/shopeeMall/items/item3.png') center / contain no-repeat;
}

.shopeeMall-content__items-img4 {
    background: url('/assets/img/shopeeMall/items/item4.png') center / contain no-repeat;
}

.shopeeMall-content__items-img5 {
    background: url('/assets/img/shopeeMall/items/item5.png') center / contain no-repeat;
}

.shopeeMall-content__items-img6 {
    background: url('/assets/img/shopeeMall/items/item6.png') center / contain no-repeat;
}

.shopeeMall-content__items-img7 {
    background: url('/assets/img/shopeeMall/items/item7.png') center / contain no-repeat;
}

.shopeeMall-content__items-img8 {
    background: url('/assets/img/shopeeMall/items/item8.png') center / contain no-repeat;
}

.shopeeMall-content__items-content {
    font-size: 15px;
    font-weight: 400;
    color: var(--red-color);
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 150px;
    justify-content: center;
}