.shopeeMall {
    min-height: 60px;
    display: block;
}

.shopeeMall-header {
    min-height: 60px;
    display: flex;
    background-color: var(--white-color);
    border-bottom: 2px solid var(--white-color-f8);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.shopeeMall-header__left {
    display: flex;
    padding-left: 20px;
    align-items: center;
    flex-wrap: nowrap;
}

.shopeeMall-header__right {
    display: flex;
    padding-right: 10px;
    align-items: center;
}

.shopeeMall-header__items {
    padding-right: 20px;
    text-decoration: none;
    color: var(--text-color);
}

.shopeeMall-header__right>.shopeeMall-header__items {
    color: var(--red-color);
}

.shopeeMall-header__items-span {
    padding-left: 15px;
    padding-right: 5px;
    color: var(--red2-color);
}

.shopeeMall-header__right a {
    padding-right: 0;
}

.shopeeMall-content {
    display: flex;
    min-height: 400px;
    background-color: var(--white-color);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.shopeeMall-content__left {
    width: 30%;
    height: 100%;
}

.shopeeMall-content__slider {
    display: block;
    min-width: 100%;
    min-height: 462px;
    background: url('/assets/img/shopeeMall/slider/slider.png') center / cover no-repeat;
}

.shopeeMall-content__right {
    width: 70%;
    height: 100%;
    position: relative;
}

.shopeeMall-content__list-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.shopeeMall-content__items-box {
    display: flex;
    flex-direction: column;
}

.shopeeMall-content__items-box:hover {
    transform: translateY(-2px);
}

.shopeeMall-content__items {
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
}

.shopeeMall-content__items-img1,
.shopeeMall-content__items-img2,
.shopeeMall-content__items-img3,
.shopeeMall-content__items-img4,
.shopeeMall-content__items-img5,
.shopeeMall-content__items-img6,
.shopeeMall-content__items-img7,
.shopeeMall-content__items-img8 {
    width: 100%;
    background-color: var(--white-color);
    height: 100%;
}

.shopeeMall-content__items-img1 {
    background: url('/assets/img/shopeeMall/items/item1.png') center / contain no-repeat;
}

.shopeeMall-content__items-img2 {
    background: url('/assets/img/shopeeMall/items/item2.png') center / contain no-repeat;
}

.shopeeMall-content__items-img3 {
    background: url('/assets/img/shopeeMall/items/item3.png') center / contain no-repeat;
}

.shopeeMall-content__items-img4 {
    background: url('/assets/img/shopeeMall/items/item4.png') center / contain no-repeat;
}

.shopeeMall-content__items-img5 {
    background: url('/assets/img/shopeeMall/items/item5.png') center / contain no-repeat;
}

.shopeeMall-content__items-img6 {
    background: url('/assets/img/shopeeMall/items/item6.png') center / contain no-repeat;
}

.shopeeMall-content__items-img7 {
    background: url('/assets/img/shopeeMall/items/item7.png') center / contain no-repeat;
}

.shopeeMall-content__items-img8 {
    background: url('/assets/img/shopeeMall/items/item8.png') center / contain no-repeat;
}

.shopeeMall-content__items-content {
    font-size: 15px;
    font-weight: 400;
    color: var(--red-color);
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 150px;
    justify-content: center;
}

.shopeeMall-border-left {
    border-right: 1px solid var(--text-color);
    color: var(--red2-color);
    font-size: 18px;
}


/* control */

.shopeeMall__btn-control-right,
.shopeeMall__btn-control-left {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-radius: 50%;
    background-color: var(--white-color);
    box-shadow: 0 0 0.8125rem 0 var(--box-shadow-color);
    color: var(--black-color);
    display: flex;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.shopeeMall__btn-control-right:hover,
.shopeeMall__list-items:hover .shopeeMall__btn-control-right {
    animation: hover-button-right 0.1s ease-out;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.shopeeMall__btn-control-left:hover,
.shopeeMall__list-items:hover .shopeeMall__btn-control-left {
    animation: hover-button-left 0.1s ease-out;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.shopeeMall__btn-control-left {
    left: -12px;
    z-index: 2;
}

.shopeeMall__btn-control-right {
    right: -12px;
    z-index: 2;
}