#first-simpleBanner {
    padding: 10px 0;
    background-color: #f5f5f5;
    cursor: pointer;
}

#first-simpleBanner:hover {
    opacity: 0.9;
}

.first-simpleBanner__img {
    min-height: 105px;
    background: url('/assets/img/simplebanner/simplebanner1.png') center / cover no-repeat;
}

.first-simpleBanner__img2 {
    min-height: 105px;
    background: url('/assets/img/simplebanner/simplebanner2.png') center / cover no-repeat;
}