.fisrt-simpleBanner,
.second-simpleBanner {
    padding: 20px 0;
    background-color: var(--white-color-f5);
    cursor: pointer;
    border-radius: 2px;
}

.first-simpleBanner__img:hover {
    opacity: 0.9;
}

.first-simpleBanner__img {
    min-height: 105px;
    background: url('/assets/img/simplebanner/simplebanner1.png') center / cover no-repeat;
}

.second-simpleBanner__img {
    min-height: 105px;
    background: url('/assets/img/simplebanner/simplebanner2.png') center / cover no-repeat;
}