.suggest {
    width: 100%;
    background-color: var(--gray-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggest-header {
    width: 100%;
    min-height: 61px;
    font-size: 18px;
    padding: 0 0 0 40px;
    font-weight: 400;
    line-height: 61px;
    text-align: left;
    border-bottom: 1px solid var(--white-color-cc);
    text-transform: uppercase;
    color: var(--red2-color);
    background-color: var(--white-color);
}

.suggest__list-items {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.suggest__list-items-wrapper {
    display: block;
    padding: 12px 0px;
}

.suggest-body {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.suggest-body__items {
    width: calc(100%/6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggest-body__items-wrap {
    display: flex;
    max-width: 187px;
    margin-top: 12px;
    min-height: var(--suggest-body__items-hight);
    flex-direction: column;
    background-color: var(--white-color);
    box-shadow: 0 0 0.8125rem 0 var(--box-shadow-color);
    border: 1px solid var(--white-color-f8)
}

.suggest-body__items-wrap:hover {

    transform: translatey(-1px);
    border: 1px solid var(--red2-color);
    cursor: pointer;
    box-shadow: 0 0 0.8125rem 0 var(--box-shadow-color);
    z-index: 5;
}

.suggest-body__items-wrap:hover .suggest-body__items-show {
    display: block;
}

.suggest-body__items-img {
    width: 100%;
    height: calc(var(--suggest-body__items-hight)*2/3);
}

.suggest-body__items-img-wrapper {
    position: relative;
}

.suggest-body__items-img-wrapper img:first-child {
    width: 100%;
    /* z-index: 1000; */
}

.suggest-body__items-img-wrapper img:nth-child(2) {
    width: 100%;
    position: absolute;
    right: 0;
}

.suggest-body__items-content {
    display: flex;
    height: calc(var(--suggest-body__items-hight)*1/3);
    flex-direction: column;
}

.suggest-body__items-content-wrapper {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    align-items: flex-start;
}

.suggest-body__items-content-title {
    font-size: 12px;
    color: var(--text-color);
    overflow: hidden;
    height: 30px;

}

.suggest-body__items-content-voucher {
    font-size: 11px;
    padding: 2px;
    margin: 1px;
    color: var(--white-color);
    background-color: var(--yellow-color);
}

.suggest-body__items-content-end {
    padding: 4px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.suggest-body__items-content-price {
    font-size: 16px;
    color: var(--red2-color);
}

.suggest-body__items-content-sold {
    font-size: 12px;
    color: var(--text3-color)
}

.suggest-body__items-promotion {
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    padding: 2px 1px;
    background-color: var(--yellow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 36px;
    font-size: 12px;
}

.suggest-body__items-promotion::after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    bottom: -4px;
    position: absolute;
    border-color: transparent var(--yellow-color);
    border-style: solid;
    border-width: 0px 18px 4px;
}

.suggest-body__items-promotion-number {
    padding-top: 2px;
    color: var(--red2-color);
}

.suggest-body__items-promotion-text {
    color: var(--white-color);
}

.suggest-body__items-sponsor {
    position: absolute;
    bottom: 30px;
    right: 5px;
    background-color: var(--background3-color-94);
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 2px;
    color: var(--white-color);
}

.suggest-body__items-Tick {
    position: absolute;
    color: var(--white-color);
    top: 12px;
    font-size: 12px;
    left: -7px;
    padding: 3px 5px;
    background-color: var(--red2-color);
}

.suggest-body__items-Tick::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -5px;
    border-top: 5px solid;
    border-left: 5px solid transparent;
    filter: brightness(60%);
}

.suggest-body__items-service {
    position: absolute;
}

.suggest-body__items-show {
    position: absolute;
    display: none;
    text-align: center;
    background-color: var(--red2-color);
    padding: 8px 5px;
    width: 101%;
    margin-left: -1px;
    margin-right: -1px;
    bottom: -30px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.suggest-body__items-show p {
    color: var(--white-color);
    font-size: 14px;
}

.suggest-seemore {
    width: 370px;
    height: 40px;
    color: var(--red2-color);
    background-color: var(--white-color);
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid var(--border-color-black);
    margin-bottom: 40px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.suggest-seemore:hover {
    background-color: var(--red2-color);
    color: var(--white-color);
}