  /* breakpoint 1200px x<1200 */
  
  @media (min-width: 1200px) {}
  /*  */
  /* 992px x < 1199.98px  */
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
      .banner-content {
          min-height: 185px;
      }
      .first-simpleBanner__img2,
      .first-simpleBanner__img {
          min-height: 85px;
      }
      /* category  */
      .category__list-items {
          grid-template-columns: repeat(auto-fill, 90px);
      }
      .category__items-description {
          font-size: 12px;
      }
      /* flash sale  */
      .flashSale-body__items {
          position: relative;
          padding: 10px 36px;
      }
      /* shopee mall */
      .shopeeMall-header__title-logo,
      .shopeeMall-header__title,
      .shopeeMall-header__title-span,
      .shopeeMall-header__showAll,
      .shopeeMall-header__showAll-span {
          font-size: 14px;
      }
      /* top search  */
      .topSearch-body__item {
          max-width: 140px;
      }
      .topSearch-body__content {
          font-size: 16px;
      }
      .suggest__list-items-wrap {
          padding: 12px 5px;
      }
      .suggest-body__items {
          margin-left: 10px;
      }
  }
  /* breakpoint 992px  x< 992px */
  
  @media (min-width: 992px) {
      .hiden-on-tablet {
          display: none;
      }
      .topSearch-body__item {
          height: 290px;
      }
  }
  /*768px x < 991.98px  */
  
  @media (min-width: 768px) and (max-width: 991.98px) {
      .hiden-on-tablet {
          display: none;
      }
      /* header */
      .header__navbar,
      .header-with-search {
          min-width: 720px;
          padding: 0;
      }
      .header-navbar__items {
          font-size: 12px;
      }
      .search-suggest__items {
          font-size: 11px;
          padding-right: 8px;
      }
      /* banner  */
      .banner-content {
          min-height: 140px;
      }
      div[class*="slider-navbar__img"] {
          min-height: 35px;
      }
      .slider-navbar__description {
          font-size: 12px;
      }
      /* simple banner  */
      .first-simpleBanner__img2,
      .first-simpleBanner__img {
          min-height: 63px;
      }
      /* category */
      .category__list-items {
          grid-template-columns: repeat(auto-fill, 136px);
      }
      /* shopee mall  */
      .shopeeMall-header__title-logo,
      .shopeeMall-header__title,
      .shopeeMall-header__title-span,
      .shopeeMall-header__showAll,
      .shopeeMall-header__showAll-span {
          padding: 0 5px;
          text-decoration: none;
          font-size: 12px;
      }
      .shopeeMall-content__-items-content {
          font-size: 14px;
      }
      /* top search  */
      .topSearch-body__item {
          height: 290px;
          max-width: 100px;
      }
      .topSearch-body__img-content {
          font-size: 12px;
      }
      .topSearch-body__title {
          font-size: 14px;
      }
  }
  /* breakpoint 768px  (x <768 )*/
  
  @media (max-width: 768px) {
      /* header  */
      .header {
          margin-bottom: 5px;
          height: 90px;
      }
      .navbar__item-avatar-img {
          width: 17px;
          height: 17px;
          margin-right: 2px;
      }
      .search-suggest__items {
          font-size: 11px;
          padding-right: 5px;
      }
      div[class*="slider-navbar__img"] {
          min-height: 32px;
      }
      .slider-navbar__description {
          font-size: 10px;
      }
      .shopeeMall-header__title-logo,
      .shopeeMall-header__title,
      .shopeeMall-header__title-span,
      .shopeeMall-header__showAll,
      .shopeeMall-header__showAll-span {
          padding: 0 5px;
          text-decoration: none;
          font-size: 12px;
      }
      .topSearch-body__list-items {
          flex-wrap: wrap;
      }
  }
  /* 576px x < 767.98px  */
  
  @media (min-width: 576px) and (max-width: 767.98px) {
      .hiden-on-mobile {
          display: none;
      }
      /* :root {
          --height-header-with-search: 60px
      } */
      /* header  */
      .header-with-search {
          padding: 0;
      }
      .header-navbar__items {
          padding: 3px;
          font-size: 11px;
      }
      .navbar-items__icon {
          font-size: 11px;
      }
      .header-with-search {
          height: 45px;
      }
      .searchbar-main__input {
          padding: 0px 6px;
      }
      .searchbar__input {
          font-size: 12px;
          height: 28px;
      }
      .main__history-item-name {
          font-size: 12px;
      }
      .searchbar-btn {
          height: 28px;
          min-width: 48px;
      }
      .navbar__item-avatar-img {
          width: 16px;
          height: 16px;
      }
      .cart-badge-span {
          font-size: 25px;
      }
      .searchbar-main__history {
          top: 37px;
      }
      /* banner */
      .banner-content {
          min-height: 155px;
      }
      /* simmple banner  */
      .first-simpleBanner__img2,
      .first-simpleBanner__img {
          min-height: 44px;
      }
      /* category */
      .category__list-items {
          grid-template-columns: repeat(auto-fill, 128px);
      }
      /* top serch */
      .topSearch-body__item {
          max-width: 150px;
      }
  }
  /* breakpoint 576pxs  (x<576) */
  
  @media (min-width: 576px) {}
  /* x < 576px  */
  
  @media (max-width: 575.98px) {
      .hiden-on-mobile-s {
          display: none;
      }
       :root {
          --height-header: 60px;
          --height-header-with-search: 60px
      }
      .header {
          height: 60px;
      }
      .header-with-search {
          padding: 0;
      }
      .banner-content {
          min-height: 135px;
      }
      .cart-badge-span {
          font-size: 25px;
      }
      .first-simpleBanner__img2,
      .first-simpleBanner__img {
          min-height: 42px;
      }
      .category__list-items {
          grid-template-columns: repeat(auto-fill, 90px);
      }
      .main-history-item-img {
          height: 20px;
      }
      .main-history-item-name {
          font-size: 12px;
      }
  }